body { font-family: sans-serif; padding: 20px;}

/* Contenedor principal del Grid */
.matriz-container { 
    display: grid;
    gap: 2px; /* Espacio entre celdas */
    background: #ccc;
    padding: 10px;
    border-radius: 4px;
    margin: 20px auto;
    width: max-content; /* Se ajusta al contenido */
}

/* Estilo base para cada celda */
.cell { 
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,0.1);
}

/* Colores por tipo de terreno */
.libre { background: #ffffff; color: #ccc; }
.edificio { background: #333333; color: white; }
.agua { background: #3498db; color: white; }
.bloqueo { background: #e74c3c; color: white; }
.entrada { background: #2ecc71; color: white; }
.salida { background: orange; color: white; }
.camino { background: greenyellow; color: white; }
        
.center { text-align: center; }

.texto { text-align: center; font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;}

input[type="number"] {
width: 3em; 
font-size: 1em;
}

.cell:hover {
outline: 2px solid #3498db;
z-index: 10;
}